<center>

<h1>welcome to rock, paper, scissors</h1>


<h2>ok let's play</h2>

<body>

<form action="/play_game" method="post">
	<input type="submit" name="move_one" value="rock">
	<input type="submit" name="move_one" value="paper">
	<input type="submit" name="move_one" value="scissors">
</form>

</body>

</center>

</html>
