<h1>Welcome to rock, paper, scissors</h1>

<h2>Ok, <%= @player_name %>, let's play</h2>

<form action="/play_game" method="post">
	<input type="submit" name="play" value="rock">
	<input type="submit" name="play" value="paper">
	<input type="submit" name="play" value="scissors">
</form>