<html>

<center>

<h1>results</h1>

<body>

your move... <b><%= @move_one %></b>

<br>
<br>

robot's move... <b><%= GAME.robot_turn %></b>

<br>
<br>
<br>

---- <%= GAME.play(@move_one, @move_two) %> ----

</body> 

</center<>

</html>