<html>

<center>

<h1>results</h1>

<body>

<%= @player_name %>'s move... <b><%= @move_one %></b>

<br>
<br>

robot's move... <b><%= GAME.robot_turn %></b>

<br>
<br>
<br>

---- <%= GAME.play(@move_one, @move_two) %> ----

<br>
<br>
<br>


<form action="/play_game" method="post">
<input type="submit" name="play_again" value="play again">
</form>

</body> 

</center<>

</html>