<<<<<<< HEAD
<html>
=======
<center>
<h1>Wooo let's play rock, paper, scissors</h1>
>>>>>>> temp

<center>

<h1>wooo let's play rock, paper, scissors</h1>

<body>

<form action="/create_player" method="post">
first name:
<input type="text" name="player_name">
<input type="submit" value="play">
</form>

<<<<<<< HEAD
</body>

</center>

</html>
=======
</center>
>>>>>>> temp
