<html>

<center>

<h1>wooo let's play rock, paper, scissors</h1>

<body>

<form action="/create_player" method="post">
First name:
<input type="text" name="player_name">
<input type="submit" value="play">
</form>

</body>

</center>

</html>